:root {
    --cs-primary-color: #078f71;
    --cs-secondary-color: #DB8721;
    --cs-dark-color: #024234;
    --cs-light-color: #8FE3CF;

    --cs-main-font: "Open Sans", sans-serif;
    
    --cs-navbar-toggler-glow: #8FE3CF;
    --cs-navbar-toggler-color: #256D85;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin-top: 4.75rem;
}

ul {
    list-style: none;
}

footer {
    flex-shrink: 0;
}

.footer {
    background-color: var(--cs-dark-color);
    color: var(--cs-light-color);
}

.display-number {
    font-weight: 700;
    font-size: 2rem;
}

.socialIcons {
    font-size: 2rem;
    padding: .5rem;
}

.socialIcons:hover {
    color: var(--cs-secondary-color);
}

/* Navbar override starts */
#mainNav {
    background-color: var(--cs-primary-color);
}

#mainNav button {
    border-color: var(--cs-secondary-color);
}

.navbar-toggler {
    color: var(--cs-navbar-toggler-glow);
}

.navbar-toggler-icon-cs {
    color: var(--cs-navbar-toggler-color);
    font-size: 1.5rem;
}
/* Navbar override end */
.checkList {
    list-style-type: none;
}

.checkList li>i{
    color: var(--cs-secondary-color);
    padding-right: .5rem;
}

.devIcons {
    font-size: 4rem;
}

.appLogo {
    max-width: 75%;
}

.background-primary-solid {
    background-color: var(--cs-primary-color);
}

.background-gradient {
    background: linear-gradient(rgb(2, 66, 52), rgb(143, 227, 207));
}

.container-padding {
    padding: 2.5% 5% 2.5%;
}

.main-font {
    font-family: var(--cs-main-font);
}

.main-font-italic {
    font-family: var(--cs-main-font);
    font-style: italic;
}

.main-font-bold {
    font-family: var(--cs-main-font);
    font-weight: 700;
}

.main-font-bold-italic {
    font-family: var(--cs-main-font);
    font-weight: 700;
    font-style: italic;
}

@media(min-width: 992px) {
    .container-padding {
        padding: 5% 30% 5%;
    }
}